html.dashy {
  height: 100%;
}

html.dashy > body {
  height: 100%;
}

.dashboard {
  display: flex;
  height: 100%;
  width: 100%;
}

.dashboard > .dashboard-sidebar {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.dashboard > .dashboard-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.dashboard > .dashboard-content > .dashboard-content-inner {
  display: inline-block;
  flex: 1;
  overflow: auto;
  padding: 1rem;
  width: 100%;
}
